APP_NAME="time-flow-backend" # edit this to your project name
APP_PROD="false"
APP_VERSION="0.1.0"
DOCKER_IMAGE=nest/template
PORT="3000"

APP_URL="http://localhost:3000" # backend url
FRONTEND_URL="http://localhost:5173" # frontend url

ADMIN_EMAIL="admin@gmail.com"
ADMIN_PASSWORD="Admin@123"

CLIENT_EMAIL="client@gmail.com"
CLIENT_PASSWORD="Client@123"

DB_CONNECTION="postgres"
DB_HOST="localhost"
DB_PORT="5432"
DB_DATABASE="database"
DB_USERNAME="postgres"
DB_PASSWORD="postgres"

HASH_SALT="10"
JWT_AUTH='secret_value'
JWT_RECOVERY='secret_value_recovery'

GOOGLE_CLIENT_ID=""
GOOGLE_SECRET=""

MAILER_SERVICE="http://nuxiomailer.157.173.125.134.sslip.io"
MAILER_SECRET_KEY="0gfy54agz9odu171kx0hui7xtji94k"

GEMINI_KEY="your_gemini_key"
